# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv('chipotle.tsv', sep='\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. How many products cost more than $10.00?

In [5]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [8]:
chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)

In [10]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [12]:
chipo[chipo['item_price'] * chipo['quantity'] > 10]

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25

### Step 5. What is the price of each item? 
#### print a data frame with only two columns item_name and item_price

In [34]:
item_prices = chipo.groupby('item_name')['item_price'].min().reset_index()
item_prices.columns = ['item_name', 'item_price']
item_prices

                                item_name  item_price
0                       6 Pack Soft Drink        6.49
1                           Barbacoa Bowl        8.69
2                        Barbacoa Burrito        8.69
3                   Barbacoa Crispy Tacos        8.99
4                     Barbacoa Salad Bowl        9.39
5                     Barbacoa Soft Tacos        8.99
6                           Bottled Water        1.09
7                                    Bowl        7.40
8                                 Burrito        7.40
9                             Canned Soda        1.09
10                      Canned Soft Drink        1.25
11                          Carnitas Bowl        8.99
12                       Carnitas Burrito        8.69
13                  Carnitas Crispy Tacos        8.99
14                         Carnitas Salad        8.99
15                    Carnitas Salad Bowl        9.39
16                    Carnitas Soft Tacos        8.99
17                           Chicken Bowl        8.19
18                        Chicken Burrito        8.19
19                   Chicken Crispy Tacos        8.49
20                          Chicken Salad        8.19
21                     Chicken Salad Bowl        8.75
22                     Chicken Soft Tacos        8.49
23                                  Chips        1.99
24           Chips and Fresh Tomato Salsa        2.29
25                    Chips and Guacamole        3.89
26      Chips and Mild Fresh Tomato Salsa        3.00
27     Chips and Roasted Chili Corn Salsa        2.95
28     Chips and Roasted Chili-Corn Salsa        2.39
29  Chips and Tomatillo Green Chili Salsa        2.95
30    Chips and Tomatillo Red Chili Salsa        2.95
31  Chips and Tomatillo-Green Chili Salsa        2.39
32    Chips and Tomatillo-Red Chili Salsa        2.39
33                           Crispy Tacos        7.40
34                                   Izze        3.39
35                       Nantucket Nectar        3.39
36                                  Salad        7.40
37                          Side of Chips        1.69
38                             Steak Bowl        8.69
39                          Steak Burrito        8.69
40                     Steak Crispy Tacos        8.69
41                            Steak Salad        8.69
42                       Steak Salad Bowl        9.39
43                       Steak Soft Tacos        8.99
44                            Veggie Bowl        8.49
45                         Veggie Burrito        8.49
46                    Veggie Crispy Tacos        8.49
47                           Veggie Salad        8.49
48                      Veggie Salad Bowl        8.75
49                      Veggie Soft Tacos        8.49

### Step 6. Sort by the name of the item

In [36]:
item_prices.sort_values('item_name')

                                item_name  item_price
0                       6 Pack Soft Drink        6.49
1                           Barbacoa Bowl        8.69
2                        Barbacoa Burrito        8.69
3                   Barbacoa Crispy Tacos        8.99
4                     Barbacoa Salad Bowl        9.39
5                     Barbacoa Soft Tacos        8.99
6                           Bottled Water        1.09
7                                    Bowl        7.40
8                                 Burrito        7.40
9                             Canned Soda        1.09
10                      Canned Soft Drink        1.25
11                          Carnitas Bowl        8.99
12                       Carnitas Burrito        8.69
13                  Carnitas Crispy Tacos        8.99
14                         Carnitas Salad        8.99
15                    Carnitas Salad Bowl        9.39
16                    Carnitas Soft Tacos        8.99
17                           Chicken Bowl        8.19
18                        Chicken Burrito        8.19
19                   Chicken Crispy Tacos        8.49
20                          Chicken Salad        8.19
21                     Chicken Salad Bowl        8.75
22                     Chicken Soft Tacos        8.49
23                                  Chips        1.99
24           Chips and Fresh Tomato Salsa        2.29
25                    Chips and Guacamole        3.89
26      Chips and Mild Fresh Tomato Salsa        3.00
27     Chips and Roasted Chili Corn Salsa        2.95
28     Chips and Roasted Chili-Corn Salsa        2.39
29  Chips and Tomatillo Green Chili Salsa        2.95
30    Chips and Tomatillo Red Chili Salsa        2.95
31  Chips and Tomatillo-Green Chili Salsa        2.39
32    Chips and Tomatillo-Red Chili Salsa        2.39
33                           Crispy Tacos        7.40
34                                   Izze        3.39
35                       Nantucket Nectar        3.39
36                                  Salad        7.40
37                          Side of Chips        1.69
38                             Steak Bowl        8.69
39                          Steak Burrito        8.69
40                     Steak Crispy Tacos        8.69
41                            Steak Salad        8.69
42                       Steak Salad Bowl        9.39
43                       Steak Soft Tacos        8.99
44                            Veggie Bowl        8.49
45                         Veggie Burrito        8.49
46                    Veggie Crispy Tacos        8.49
47                           Veggie Salad        8.49
48                      Veggie Salad Bowl        8.75
49                      Veggie Soft Tacos        8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [37]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [44]:
chipo[chipo['item_price'] == chipo['item_price'].max()].quantity

3598    15
Name: quantity, dtype: int64

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [48]:
chipo[chipo['item_name'] == 'Veggie Salad Bowl'].order_id.count()

18

### Step 9. How many times did someone order more than one Canned Soda?

In [52]:
chipo[chipo['item_name'] == 'Canned Soda'][chipo['quantity'] > 1].order_id.count()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_20956\1691376562.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  chipo[chipo['item_name'] == 'Canned Soda'][chipo['quantity'] > 1].order_id.count()

20